body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 950px;
    margin: auto;
    font-size: 1.6rem;
   
}

a:link, a:visited{
    font-size: x-large;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}
header img{
    width: 10%;
    border-radius: 50%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F4F4F;

}
header nav ul{
    display: flex;
    list-style: none;
    overflow: hidden;
    transition: all 0.5s;
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
header nav ul li{
    margin:3px;
}
header nav ul li a{
    color: rgb(156, 154, 154);
}
/*yt*/
header, main{
    padding: 10px;
}

footer ul{
    display: flex;
    list-style: none;
    
}
footer ul li{
    margin: 8px;
}

footer ul li a{
    font-family: 'Times New Roman', Times, serif;
    color: #363636;
}
footer ul li a img{
    width: 30px;
}
main{
    color: #363636;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}
main div img{
    width: 100%;
}
header nav ul li{
    padding: 12px;
}
html{
    /*a cada 1rem sera considerado 10px*/
    font-size: 62.5%;
}
a{
    padding: 1.8rem 0.3rem ;
}
button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    

}
ul{
    overflow: hidden;
}
#imagem {
    width: 40%;
}
#texto {
    width: 60%;
}
@media (max-width: 780px){
    header{
        flex-direction: column;
        align-items: flex-start;
      }
      nav{
        width: 100%;
      }
      nav ul{
        display: none;
        padding-left: 0;
      }
      nav ul li{
        display: block;
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
      }
      nav ul li:last-child{
        border: none;
      }
      .menu-mobile{
        display: block;
      }
      .menu-mobile img{
        width: 2.5rem;
      }
}
@media (max-width: 432px){
    header{
        display: flex;

    }
    header nav ul{
        display: block;
        justify-content: center;
    }
}